<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Familiares</title>
</head>

<body>
    <h3>Familiares:</h3>
  <p><u>Nombre</u>: {{familiar1.nombre}}
    <br>
     <u>Apellido:</u>  {{familiar1.apellido}}
    <br>
     <u>Edad:</u>  {{familiar1.edad}}
    <br><br>
    <u>Nombre</u>: {{familiar2.nombre}}
    <br>
    <u> Apellido:</u>:  {{familiar2.apellido}}
    <br>
    <u> Edad:</u>:  {{familiar2.edad}}
    <br><br>
    <u>Nombre</u>: {{familiar3.nombre}}
    <br>
    <u> Apellido:</u>:  {{familiar3.apellido}}
    <br>
    <u> Edad:</u>:  {{familiar3.edad}}</p>
</body>
</html>


